


  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&display=swap');



@font-face {
  font-family: "Metronic Pro";
  src: url(../media/MetronicPro-SemiBold.a0827add.eot);
  src: local("Metronic Pro SemiBold"), local("MetronicPro-SemiBold"), url(/media/MetronicPro-SemiBold.a0827addd41d.eot?#iefix) format("embedded-opentype"), url(../media/MetronicPro-SemiBold.8af5312a.woff2) format("woff2"), url(../media/MetronicPro-SemiBold.f72a4ca8.woff) format("woff"), url(../media/MetronicPro-SemiBold.1579ec40.ttf) format("truetype");
  font-weight: 600;
  font-style: normal
}

* {
  outline: none !important; }

  *,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

html {
  height: 100%; }

/* HTML ELEMENTS */
img {
  max-width: 100%; }

b {
  font-weight: 400; }

strong {
  font-weight: 600; }

  :root {
    --blue: #090833;
  }

/* CUSTOM CLASSES */
@media (min-width: 1300px) {
  .container {
    max-width: 1200px; }
   
   
}



/*top background*/
.banner-img{
  position: relative;
}

.banner-img img { 
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;

}
.intro-header { 
  text-align: center;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  width: 100%;
  height: 100%;
}


.intro-message{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
/*Big header*/
.intro-message > h1 {
  font-size: 3em;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 700px;
}



@media(max-width:767px) {
  .intro-message {
      padding-bottom: 15%;
  }


}







/* bootstrap navbar */

.start-header {

	opacity: 1;
	transform: translateY(0);
	padding: 1px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
  
}
.start-header.scroll-on {
  box-shadow: 0 0.1333333333rem 0.2rem rgba(0,0,0,0.1);
	padding: 3px 0;
	-webkit-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
  background-color: #fff;
  backdrop-filter: blur(20px);
    background: hsl(0, 0%, 98%);
	-webkit-transition : all 0.3s ease-out;
}

.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
  background-color: transparent;
	transition : all 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .navigation-wrap{
    background-color: #fff;
  backdrop-filter: blur(20px);
    background: hsl(0, 0%, 98%);
  }
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	width: 77px;
  height: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.start-header.scroll-on .nav-link{
	color: #212121 !important;
	font-weight: 300;
  font-size: 16px;
    transition: all 200ms linear;
}
.nav-link{
	color: #212121 !important;
	font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
    transition: all 200ms linear;
}

.nav-item.active .nav-link{
	color: #000 !important;
  font-weight: 300;
}
.start-header.scroll-on .nav-item.active .nav-link{
	color: #000 !important;
  font-weight: 400;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}


@media screen and (min-width: 768px) {
  
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #000;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.start-header {
  height: 6vw;
  display: flex;
  align-items: center;
}
.start-header.scroll-on {
  height: 6vw;
}
.navbar-brand img{
	width: 120px;
}


}

@media screen and (min-width: 1200px) and (max-width:1400px) {
  .navbar .collapse .navbar-nav{
    margin-right: 30px;
  }

}

/* bootstrap navbar */



/* home about */


.home-about{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.abt-sec{
  display: flex;
  align-items: center;
}
.abt-head h3{
  font-size: 27px;
  line-height: 1.4;
  color: #000000;
}

.abt-para p{
  font-size: 15px;
  font-weight: 300;
  color: #000;
  line-height: 1.6;
  text-align: justify;
}



@media only screen and (max-width: 992px) {
  .abt-head h3{
    padding-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .abt-head h3{
    font-size: 23px;
  }
  .abt-para p{
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .home-about{
    padding-bottom: 1rem;
  }
  .abt-head h3{
    padding-top: 20px;
    font-size: 21px;
    text-align: center;
  }
  .abt-para p{
    padding-top: 10px;
    font-size: 15px;
  }
}


/* home about */






/* ///////////////////////////////////// */

.btn-white {
  display: inline-flex;
  align-items: center;
  color: rgb(188 156 107);
  border: 1px solid rgb(188 156 107);
  min-height: 50px;
  padding: 0 20px;
  font-size: 17px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  background-color: transparent;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.btn-white::before {
  content: "";
  background-color: rgb(188 156 107);
  display: block;
  width: 25px;
  height: 1px;
  margin-right: 20px;
}

.btn-white::after {
  content: "";
  background-color: rgb(188 156 107);
  display: block;
  width: 0%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-white:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-white:hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-white:hover::before {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .about-btn-a{
    display: flex;
    justify-content: center;
  }

  .btn-white{
    min-height: 44px;
    font-size: 15px;
    padding: 0 10px;
  }
}
/* ///////////////////////////////////// */



/* featured projects */

.ft-works{
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  position: relative;
  margin: 50px 0;
}
.ft-works::before{
    content: '';
    position: absolute;
    bottom: -15px;
    width: 60px;
    height: 5px;
    background: #000;
}

.draw-line{
  background: #0b0a0a;
    width: 100%;
    
}

@media only screen and (max-width: 768px) {
  .ft-works{
    font-size: 23px;
    margin: 25px 0;
  }
}




.ft-sec{
  padding: 1rem 0;
}
.ft-sec-1{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  position: relative;
}
.ft-sec-2{
  overflow: hidden;
  
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .ft-sec{
    padding:1rem 1rem 0 1rem;
    flex-direction: column-reverse;
  }
  .ft-sec-1{
    padding-bottom: 0;
  }
  .ft-sec-1 h4{
    font-size: 21px;
  }
}
@media only screen and (max-width: 600px) {
  .ft-sec{
    padding:1rem 1rem 0 1rem;
    flex-direction: column-reverse;
  }
  .ft-sec-1{
    padding-bottom: 0;
  }
  .ft-sec-1 h4{
    font-size: 18px;
  }
}
/* featured projects */

/* services */

.service-sec{
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-sec a{
  text-decoration: none;
}

.card{
  border: none;
  height: 100%;
}
.card img{
  height: 100px;
  width: auto;
}

.card p {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
  text-align: center;
  padding: 15px 0 10px 0;
}

.card p.small {
  font-size: 14px;
  text-align: justify;
  max-width: 262px;
  font-weight: 300;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #282f53;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.serve-div{
  display: flex;
  justify-content: center;
}
.card1 {
  display: block;
  position: relative;
  /* max-width: 262px; */
  height: 380px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #282f53;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transition: all 0.3s ease-out;
  transform: scale(35);
}

.card1:hover img{
  filter: invert(100%);
}
.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}


@media only screen and (max-width: 1150px) {
  .card1 {
    height: 420px;
    padding: 18px 10px;
    margin: 15px 0 0 0;
  
 }
}
@media only screen and (max-width: 992px) {
  .card1 {
    height: 380px;
    padding: 18px 10px;
    margin: 15px 0 0 0;
  
 }
 .service-sec{
  padding: 8px;
 }


}
@media only screen and (max-width: 600px) {
  .card1{
    height: 350px;
  }
}
@media only screen and (max-width: 520px) {
  .card p.small {
    font-size: 12px;
}
.card p {
  font-size: 18px;
  padding: 0px 0 5px 0;
}



}
@media only screen and (max-width: 428px) {
  .service-sec{
    flex: 100%;
    max-width: 100%;
  }



}

/* services */


/* contact */
.contact-sections p{
  margin: 0;
}

.contact-h1 h1{
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
}

.part-1 .head h1{
  font-size: 30px;
  font-weight: 500;
}
.part-1 p{
  color: #111;
  font-weight: 500;
  font-size: 16px;
}
.part-1 .mail a{
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: none;
}
.part-1 p a{
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: none;
}

.part-1 .address-para{
  padding-bottom: 20px;;
}
.part-1 .mail{
  padding-bottom: 20px;
}
.part-1 .appointments{
  padding-bottom: 40px;
}
.appointments > div{
  padding-top: 15px;
}
.appointments > div a{
  text-decoration: none;
  color: #333;
}
.part-1 .contact-svg{
  display: flex;
  gap: 15px;
}

.part-2{
  padding-left: 30px;
}
.part-2 .head-h3 h3{
  padding-bottom: 30px;
  color: #282f53;
}
.part-2 input,textarea{
width: 100%;
margin-bottom: 20px;
padding: 10px 10px;
border-radius: 5px;
border: 1px solid #ccc;

}
.part-2 input:focus{
border: 2px solid #000;

}
.part-2 textarea:focus{
border: 2px solid #000;

}
.part-2 input::placeholder{
  color: #333;
  font-size: 16px;
}
.part-2 textarea::placeholder{
  color: #333;
  font-size: 16px;
}
.part-2 .submit{
  width: 200px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: 1px solid #f1f1f1;
  letter-spacing: 2px;
}
.part-2 .submit:hover{
  transition: all 0.3s ease-in-out;
  width: 210px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  background-color: #f1f1f1;
  border: 1px solid #000;
}

/* map */
.agileits-w3layouts-map{
  z-index: 21;
}
.agileits-w3layouts-map iframe {
	width: 100%;
	min-height: 300px;
	border: none;
  margin-bottom: -5px;
}


@media screen and (max-width: 768px) {

  .contact-sections .part-1{
    padding: 30px;
  }
  .contact-sections .part-2{
    padding: 30px;
  }
  .part-1 .head h1 {
    font-size: 23px;
}
.part-1 .architect h4 {
  font-size: 18px;
}
.part-2 .head-h3 h3{
  font-size: 18px;
}
}


.pad-div{
  padding-top: 150px;
}
/* footer */

.footer {
  background: #111;
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

.footer img{
  height: 80px;
  width: auto;
  margin: 0;
}

.text-white-50{
  font-size: 14px;
}
.footer h2 , h4{
  font-size: 25px;
  font-weight: 400;
}
.footer a,p{
  font-size: 15px;
  font-weight: 200;
}
.footer .footer-link{
  color:  rgba(255,255,255,.5);
  font-weight: 400;
  text-decoration: none;
}

.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .location i {
  font-size: 18px;
}
.ft-num a{
  text-decoration: none;
  color: #fff;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 992px) {
  .footer .about-company, .footer .links , .footer .location{
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .footer .about-company, .footer .links , .footer .location{
    margin-bottom: 30px;
  }
  .footer-div{
    padding-bottom: 1rem;
  }
}

/* footer */


/* projects */




.dta {
  border: none;
  background: none;
  padding-top: 8px;
  cursor: pointer;
  text-align: left;
}

.dta span {
  padding-bottom: 7px;
  letter-spacing: 2px;
  font-size: 12px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.dta p {
  font-size: 12px;
  text-align: left;
  padding-right: 15px;
  font-weight: 300;
}

.hover-underline-animation {
  position: relative;
  color: #000;
  padding-bottom: 5px;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}


.sec-project:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.gallery-img-div{
  position: relative;
  overflow: hidden;
}
.gallery-img-div img:hover{
  transition: transform 0.5s ease;
  transform: scale(1.1);

}
.sec-project{
  position: relative;
    max-width: 100%;
    display: block;
    padding-bottom: 50px;
    transition: transform 0.5s ease;
}


/* projects */